.container{
    display: flex;
    flex-direction: column;
    background-color: #fff;

}

.contenido{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.contenido img{
    width: 60%;
    margin: 10px 0;
}

.contenido h3{
    color: #0C001C;
    font-weight: 600;
    font-size: 20px;
}

.boton_bank{
    display: flex;
    color: #701BDD;
    font-weight: 700;
    background-color: #fff;
    outline: 1px solid #701BDD;
    border-radius: 4px;
    justify-content: center;
    padding: 8px 30px;
    cursor: pointer;
}

.anadir{
    display: flex;
    justify-content: flex-end;
    color: #701BDD;
    font-size: 12px;
    font-weight: 600;
    cursor: pointer;
}
