.container{
    display: flex;
    flex-direction: column;
    background-color: #fff;
}

.fila{
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.campo{
    display: flex;
    flex-direction: column;
    flex: 1;
}

.campo input{
    background-color: #F6F3FE;
    padding: 10px;
    border-radius: 4px;
    border: none;
}

