.metodos_container{
    background-color: #fff;
    display: flex;
    flex-direction: column;
    width: 45%;
    border-radius: 8px;
    padding: 20px;
}

.metodos_container h3{
    margin: 0 0 20px 0;
}

.metodos_container label{
    font-size: 12px;
    font-weight: 700;
}

.metodos_container select{
    background-color: #F6F3FE;
    border: none;
    padding: 10px;
    border-radius: 4px;
}