.contenido{
    background-color: #756794;
    flex: 1;
    border-radius: 8px;
    padding: 15px;
}

.top{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.small_boton{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 8px;
    background-color: #E2D1F8;
    color: #701BDD;
    border-radius: 4px;
    cursor: pointer;
}

.contenido input{
    border: none;
    border-radius: 4px;
    padding: 8px;
    padding-left: 30px;
    max-width: 100px;
}

.contenido select{
    border: none;
    border-radius: 4px;
    padding: 8px;
    max-width: 100px;
    color: #1E0045;
    font-weight: 600;
    background-color: #F6F3FE;
}

.seccion{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 8px;
}

.seccion h4{
    margin: 0;
}

.categoria{
    display: flex;
    flex-direction: column;
    margin: 20px 0;
}

.table_top{
    display: flex;
    flex-direction: row;
    background-color: #F0F0F0;
    border-radius: 8px 8px 0 0;
    border-bottom: 1px solid #DBDBDB;
}

.table_top p{
    color: #464646;
    font-weight: 600;
    font-size: 13px;
    flex: 1;
    margin-left: 20px;
}