.campo{
    display: flex;
    flex-direction: row;
    background-color: #fff;
    padding: 10px;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #DBDBDB;
}

.campo svg{
    color: #4F5660;
    font-size: 24px;
    cursor: pointer;
}

.icono{
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 6px;
    background-color: #DCE8F2;
    padding: 10px;
    color: #4F5660;
}

.desc{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.desc h4{
    color: #717171;
    font-size: 14px;
    margin: 0;
}

.desc p{
    color: #717171;
    font-size: 12px;
    margin: 0;
}

.pendiente{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #FFEEB9;
    border-radius: 20px;
    min-height: 20px;
    max-height: 30px;
    color: #FFA726;
    padding: 0 10px;
    font-size: 10px;
}

.campo:last-child{
    border-bottom: none;
    border-radius: 0 0 8px 8px;
}